.container {
  padding-top: 10px;
}
img {
  width: 90px;
}

table, td, th {
  text-align: center;
}
th {
  border: 2px solid rgb(227,227,227);
  padding: 30px;
}

td {
  padding: 10px;
  vertical-align: middle;
}

tr {
  border-bottom: 1px rgb(227,227,227) solid;
}

td > input {
  border-radius: 30px;
  border: 1px solid rgb(227,227,227);
  width: 70px;
  padding: 5px;
  padding-left: 15px;
  background-color: rgb(227,227,227);
}

td > i {
  font-size: 30px;
}

.row {
margin-top: 40px;
}

button {
  padding: 14px 0px 14px 0px;
  border-radius: 30px;
  width: 200px;
  font-weight: 700;
}

input {
  padding: 14px 0px 14px 0px;
  border-radius: 30px;
  width: 240px;
  border: 1px solid rgb(227,227,227);
  padding-left: 20px;
  margin-right: 20px;
}


