<app-title-page></app-title-page>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
            <div class="path-to-page">Strona Główna <b>/</b> Płatność</div>
        </div>

        <div class="col-sm-12">
          <app-stepper-checkout-page></app-stepper-checkout-page>
        </div>

        <div class="col-sm-12">
          <hr>
        </div>

        <div class="col-sm-12">
          <app-login-checkout-page></app-login-checkout-page>
        </div>

        <div class="col-sm-12">
            <hr>
          </div>
        <div class="col-sm-12">
          <app-personal-checkout-page></app-personal-checkout-page>
        </div>

      </div>
    </div>


