select {
  border: none;
  background-color: white;

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  font-size: 14px;

}

 .sort-input {
  border: 2px rgb(217,217,217) solid;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  width: 150px;
  float: left;
}

.txt {
  float: left;
  padding: 10px;
}
