<h5>Asortyment</h5>
<ul>
  <li><a href="#">Kasztany i Słodycze</a></li>
  <li><a href="#">Konfitury</a></li>
  <li><a href="#">Majonezy</a></li>
  <li><a href="#">Musztardy</a></li>
  <li><a href="#">Octy</a></li>
  <li><a href="#">Ogórki</a></li>
  <li><a href="#">Oliwki</a></li>
  <li><a href="#">Oliwy</a></li>
  <li><a href="#">Pasztety</a></li>
  <li><a href="#">Ryż i Mąka</a></li>
  <li><a href="#">Ślimaki i ryby</a></li>
  <li><a href="#">Sól i przypray</a></li>
  <li><a href="#">Sosy Winegrete</a></li>
  <li><a href="#">Spirulina</a></li>
  <li><a href="#">Syropy i koktajle</a></li>
  <li><a href="#">Tapenady i olivady</a></li>
</ul>
