<div class="delivery">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <h5>Wybierz metodę dostawy:</h5>
    </div>

    <div class="col-sm-8">
        <p>
            <label>
              <input name="group1" type="radio" checked />
              <span>Poczta Polska - 12 zł</span>
            </label>
          </p>

          <p>
              <label>
                <input name="group1" type="radio" checked />
                <span>Kurier - 15 zł</span>
              </label>
            </p>

            <p>
                <label>
                  <input name="group1" type="radio" checked />
                  <span>Paczkomaty InPost 9,99 zł</span>
                </label>
              </p>
    </div>

    <div class="col-sm-4">
      <div class="input-field form-input">
          <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
          <label for="textarea2">Komentarz do zamówienia</label>
      </div>
    </div>

    <div class="col-sm-12">
      <hr>
    </div>

    <div class="col-sm-2">
        <button>Podsumowanie</button>
      </div>
  </div>
</div>
