<app-title-page></app-title-page>

<div class="container">
  <div class="row">
    <div class="col col-lg-2 path-to-page">Strona Główna <b>/</b> Sklep</div>
  </div>

  <div class="row">
      <div class="col col-lg-3">
       <app-menu-widget></app-menu-widget>
       <hr>
       <app-price-widget></app-price-widget>
        <hr>
        <app-popular-widget></app-popular-widget>
        <hr>
      </div>
      <div class="col col-lg-9">
        <div class="row">
          <div class="col-sm-6"><app-sort-shop-page></app-sort-shop-page></div>
          <div class="col-sm-4"><app-show-shop-page></app-show-shop-page></div>
          <div class="col-sm-2"><app-view-shop-page></app-view-shop-page></div>
        </div>
        <hr>
        <app-body-shop-page></app-body-shop-page>
        <hr>
          <app-pagination-shop-page></app-pagination-shop-page>
      </div>

  </div>
</div>
