
<div class="txt"> Sortuj: </div>
<div class="sort-input">
    <select class="custom-select">
        <option selected>Domyślne Sortowanie</option>
        <option value="1">Sortuj wg Oceny</option>
        <option value="1">Sortuj wg Popularności</option>
        <option value="1">Sortuj wg Średniej Oceny</option>
        <option value="1">Sortuj od Najnowszych</option>
        <option value="2">Sortuj wg Ceny: Od najniższej</option>
        <option value="2">Sortuj wg Ceny: Od najwyższej</option>
      </select>
</div>
