<div class="row payment">
  <div class="col-sm-12">
    <h5>Wybierz metodę Płatności:</h5>
    <p class="payment_item">
        <label>
          <input name="group1" type="radio" checked />
          <span>
            <p><img src="https://www.gigaone.pl/images/logo/payu_big.png" class="payment_logo"></p>
            PayU jest wiodącym dostawcą usług płatniczych obecnym na 16 rozwijających się rynkach na całym świecie.
          </span>
        </label>
    </p>

    <p class="payment_item">
        <label>
          <input name="group1" type="radio" checked />
          <span>
            <p><img src="https://www.gigaone.pl/images/logo/payu_big.png" class="payment_logo"></p>
            PayU jest wiodącym dostawcą usług płatniczych obecnym na 16 rozwijających się rynkach na całym świecie.
          </span>
        </label>
    </p>

    <p class="payment_item">
        <label>
          <input name="group1" type="radio" checked />
          <span>
            <p><img src="https://www.gigaone.pl/images/logo/payu_big.png" class="payment_logo"></p>
            PayU jest wiodącym dostawcą usług płatniczych obecnym na 16 rozwijających się rynkach na całym świecie.
          </span>
        </label>
    </p>

    <hr>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-sm-12">
    <button>Do Płatności</button>
  </div>
</div>
