<app-title-page></app-title-page>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="path-to-page">Strona Główna <b>/</b> Sklep<b>/</b> musztardy <b>/</b> MAILLE musztarda z szafranem i śmietaną</div>
        </div>
        <div class="col-sm-4">
          <app-image-product-page></app-image-product-page>
        </div>

        <div class="col-sm-5">
          <app-short-description-product-page></app-short-description-product-page>
        </div>

        <div class="col-sm-3">
          <app-summary-product-page></app-summary-product-page>
        </div>

        <div class="col-sm-12"><hr></div>

        <div class="col-sm-12">
          <app-description-product-page></app-description-product-page>
        </div>

        <div class="col-sm-12"><hr></div>

        <div class="col-sm-12">
          <app-popular-big-widget></app-popular-big-widget>
        </div>
      </div>
    </div>


