<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <app-subscribe-footer></app-subscribe-footer>
      </div>

      <div class="col-sm-3">
        <app-menu-footer></app-menu-footer>
      </div>

      <div class="col-sm-5">
        <app-info-footer></app-info-footer>
      </div>

      <div class="col-sm-12">
        <hr>
      </div>

      <div class="col-sm-12">
        Copyright © 2019. Wszystkie prawa zastrzeżone
      </div>

    </div>
  </div>
</div>
