<div class="summary">

  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h5>Podsumowanie:</h5>
      <table class="highlight">
          <thead>
        <tr>
              <th>lp.</th>
              <th>Produkt</th>
              <th>Cena</th>
              <th>Ilość</th>
              <th>koszt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td><a href="#" target="blank">100% Naturalna Francuska spirulina w tabletkach z lokalnej fermy -Spiruline de la Côte Bleue</a></td>
          <td>110 zł</td>
          <td>1.</td>
          <td>110 zł</td>
        </tr>

        <tr>
            <td>1.</td>
            <td><a href="#" target="blank">100% Naturalna Francuska spirulina w tabletkach z lokalnej fermy -Spiruline de la Côte Bleue</a></td>
            <td>110 zł</td>
            <td>1.</td>
            <td>110 zł</td>
          </tr>

          <tr>
              <td>1.</td>
              <td><a href="#" target="blank">100% Naturalna Francuska spirulina w tabletkach z lokalnej fermy -Spiruline de la Côte Bleue</a></td>
              <td>110 zł</td>
              <td>1.</td>
              <td>110 zł</td>
            </tr>
      </tbody>
      </table>

    </div>

    <div class="col-sm-12">
      <div class="right">
        <p>
          <b>Dostawa: </b> 12 zł Poczta Polska
        </p>
        <p class="coupon">
            <b>Kupon Rabatowy : </b> FreeCoupon -30zł
          </p>
        <p>
          <b>Razem : </b> <span class="strike">330 zł</span> 300 zł
        </p>
      </div>

    </div>


      <div class="col-sm-3 personal">
        <h6>Dane Płatności:</h6>
        <p>Jarosław Bińczyk</p>
        <p>Bawełniana 37</p>
        <p> 97-300 Piotrków Trybunalski</p>
        <p> Polska</p>
      </div>

      <div class="col-sm-3 recipient ">
          <h6>Dane Wysyłki:</h6>
          <p>Jarosław Bińczyk</p>
          <p>Bawełniana 37</p>
          <p> 97-300 Piotrków Trybunalski</p>
          <p> Polska</p>
      </div>

        <div class="col-sm-3 other">
        <h6>Inne:</h6>
        <p>
          <b>Wiadomość dla sprzedawcy:</b>
        </p>

        <p>Tram wa awd aw dw dawd a aw d awd aw</p>
        </div>

        <div class="col-sm-12">
          <hr>
        </div>

        <button>Wróć</button>
        <button class="payment">Płatność</button>



  </div>
</div>
