<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="header"><h6>Dane Płatności:</h6></div>
      <div class="double">
        <input type="text" class="left" placeholder="Imię">
        <input type="text" class="right" placeholder="Nazwisko">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Nazwa firmy (opcjonalnie)">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Kraj">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Ulica">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Nr mieszkania, lokalu, itp. (opcjonalne)">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Kod pocztowy">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Miasto">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Telefon">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Adres Email">
      </div>

    </div>

    <div class="col-sm-6">
      <div class="header">
        <div class="left">
          <h6>Wysłać na inny Adres ?</h6>
        </div>

        <div>

        </div>

        <div class="right">
            <h6>
              <div class="switch">
                <label>

                  <input type="checkbox" >
                  <span class="lever  red darken-4"></span>

                </label>
              </div>
            </h6>
        </div>
      </div>


        <div class="other_delivery">
          <div class="double">
            <input type="text" class="left" placeholder="Imię">
            <input type="text" class="right" placeholder="Nazwisko">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Nazwa firmy (opcjonalnie)">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Kraj">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Ulica">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Nr mieszkania, lokalu, itp. (opcjonalne)">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Kod pocztowy">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Miasto">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Telefon">
          </div>

          <div class="form_input">
              <input type="text" placeholder="Adres Email">
          </div>
        </div>



    </div>

    <div class="col-sm-12">
        <hr>
    </div>

    <div class="col-sm-12">
        <p>
            <label>
              <input type="checkbox" />
              <span>Utworzyć Konto ?</span>
            </label>
          </p>

          <div class="double">
              <input type="password" class="left" placeholder="Hasło">
              <input type="password" class="right" placeholder="Powtórz Hasło">
            </div>
    </div>

    <div class="col-sm-12">
        <hr>
    </div>

    <div class="col-sm-12">
        <p>
            <label>
              <input type="checkbox" />
              <span>Masz kod rabatowy ?</span>
            </label>
          </p>

          <div class="double">
              <input type="text" class="left" placeholder="Kod rabatowy">
            </div>
    </div>

    <div class="col-sm-12">
        <hr>
      </div>
    <div class=" justify-content-center">
      <div class="col-sm-1">
        <button>Dalej</button>
      </div>
    </div>

    <div class="col-sm-12">
        <hr>
      </div>
  </div>
</div>
