<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h5>Dane Płatności:</h5>
      <div class="double">
        <input type="text" class="left" placeholder="Imię">
        <input type="text" class="right" placeholder="Nazwisko">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Nazwa firmy (opcjonalnie)">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Kraj">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Ulica">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Nr mieszkania, lokalu, itp. (opcjonalne)">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Kod pocztowy">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Miasto">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Telefon">
      </div>

      <div class="form_input">
          <input type="text" placeholder="Adres Email">
      </div>

    </div>

    <div class="col-sm-6">

        <div class="left">
          <h5>Wysłać na inny Adres ?</h5>
        </div>

        <div class="right">
            <h5>Wysłać na inny Adres ?</h5>
        </div>
    </div>
  </div>
</div>
