<section id="top-bar">
    <ul class="menu-vertical menu-left">
      <li>
          <a href="#">
            <i class="far fa-envelope" style="border-right: 1px solid grey;"></i>
             kontakt@delikatesy-francuskie.pl
          </a>
      </li>
      <li>
          <div class="left-line">
          <a href="#"> +48 883-001-431</a>
          </div>
      </li>
      <li>
          <a href="#"> Darmowa dostawa od 199 zł</a>
      </li>
    </ul>


      <ul class="menu-vertical menu-right">
        <li>
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <div class="left-line">
               <a href="#"><i class="fas fa-user"></i> Login</a>
            </div>
        </li>

        <li>

        </li>
      </ul>

</section>
