<div class="description">
    <h4>MAILLE Safran et creme fraiche d’Isigny</h4>

    <p><b>Opis:</b> Oryginalna francuska musztarda firmy Maille na bazie białego wina z dodatkiem szafranu oraz śmietany. Idealna do wyrafinowanych dań. Wykorzystywana w kuchniach kreatywnych kucharzy.</p>
    
    <p>Dodatek szafranu nadaje jej delikatnego, przyjemnego smaku.</p>
    
    <p><b>Masa:</b>108g</p>
    
    <p><b>Składniki:</b> woda, ziarenka gorczycy, ocet spirytusowy, wino białe 6% (siarczyny) , sól, śmietana 3%, koncentrat cytrynowy, cukier, szafran 0.5%, aromaty (w tym mleko),kwasy: kwasek cytrynowy, konserwanty: E224 (siarczyny)</p>
    
    <p><b>Produkcja:</b> FRANCJA</p>
    
    <p><b>Sposób przechowywania:</b>po otwarciu przechowywać w lodówce</p>
    
    <p><b>Data ważności:</b> Produkt posiada długą datę ważności. W celu poznania dokładnej daty proszę o kontakt mailowy</p>
    
    <p><b>Importer:</b> MIDI</p>
    
    <p>Kruszów, ul. Wolborska 23</p>
    
    <p>95-080 Tuszyn</p>  
</div>